[Desktop Entry]
Name=Feedreader
Comment=Feedreader
Encoding=UTF-8
Icon=akregator
ServiceTypes=Plasma/Applet
Type=Service
X-Plasma-NotificationArea=true
X-Plasma-NotificationAreaCategory=ApplicationStatus
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Author=David Baum
X-KDE-PluginInfo-Email=david.baum@naraesk.eu
X-KDE-PluginInfo-Name=eu.naraesk.feedreader
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://github.com/naraesk/plasma-feedreader
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
